
    .Certifications{
        height: 100vh;
        padding-top: 90px;
    }
    
    .Certif__title{
        font-weight: 300;
        font-size: 64px;
        line-height: 64px;
        color: #BDBDBD;
        margin-bottom: 0em;
    }
    .Certif__title1{
        font-weight: 700;
        font-size: 64px;
        line-height: 64px;
        color:#333333;
        margin-top: 0em;
    }
    .Certif__wrap{
        display: grid;
        height: 400px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 30px;
        margin-top: 60px;
        grid-auto-flow: row;
    }
    .Certif__pic{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .Certif__pic1{
        grid-column: 2/3;
        grid-row: 1/2;
        
    }
    .Certif__pic2{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .Certif__wrap img{
        width: 100%;
        height: 100%;
    }