@import url('header.css');

@import url('footer.css');

.main {
    width: 100%;
    padding-bottom: 115px;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding-left: 135px;
}

h1 {
    margin: 0;
}

#h1one {
    color: #BDBDBD;
    font-weight: 300;
    font-size: 64px;
}

#h1two {
    color: #333333;
    font-weight: 700;
    font-size: 64px;
}

.div1 {
    margin-top: 34px;
    font-weight: 700;
    font-size: 18px;
}

#div-company {
    font-weight: 700;
    font-size: 18px;
}

#div-sample {
    font-weight: 300;
    font-size: 16px;
}

#div2 {
    margin-top: 44px;
    font-weight: 700;
    font-size: 18px;
    color: #333333;

}

#div3 {
    margin-top: 53px;
    font-weight: 300;
    font-size: 16px;
}

.button {
    width: 222px;
    height: 71px;
    margin-top: 33px;
    background-color: #333333;
}

#button {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
}

.map {
    margin-top: 105px;
}