.footer {
    width: 100%;
    padding-top: 58px;
    height: 350px;
    background-color: #2C2C2C;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 12px;
}

.footer-logo {
    width: 145px;
    height: 94px;
}

.fooret-links {
    display: flex;
    justify-content: space-between;
    padding-left: 116px;
    padding-right: 210px;
    padding-bottom: 55px;
}

.footer-link {
    display: flex;
    flex-direction: column;
}

p {
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.footer-link-a {
    margin-bottom: 15px;
}

a {
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    padding-bottom: 15px;
}

.contacts {
    padding-bottom: 31px;
}

.svg {
    
    display: flex;
    justify-content: space-between;
}

hr {
    opacity: 0.1;
    border: 1px solid #FFFFFF;
}

.footer-footer {
    padding-top: 24px;
    background-color: #2C2C2C;
    font-size: 12px;
    padding-left: 45%;
}