/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/roboto-v30-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v30-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
  /* roboto-regular - latin */
    @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
  /* roboto-700 - latin */
    @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    html{
        box-sizing: border-box;
    }
    *,*::before,*::after{
        box-sizing: inherit;
    }
    body{
        font-family:'Roboto';
        font-style: normal;
        font-size: 16px;
        line-height: 1.2;
        font-weight: normal;
        color:#333333;
    }
    .wrapper{
        max-width: 1170px;
        margin: 0 auto;
    }
    /*style_header_start*/
    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    .header__wrapper{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        padding-top: 30px;
    }
    .header__list{
        display: flex;
        flex-wrap: wrap;

    }
    .header__item{
        margin-right: 42px;
        list-style-type: none;;
    }
    .header__link{
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #333333;
        text-decoration: none;
    }
    .header__item:last-child{
        margin-right: 135px;
    }
    .header__link:hover,.header__link:focus, .header__link:active{
        opacity: 0.75;
    }
    /*style_header_end*/
    
    /*styly_project1_start*/

    .project1{
        height: 100vh;
        padding-top: 90px;
    }
    
    .project1__title{
        font-weight: 300;
        font-size: 64px;
        line-height: 64px;
        color: #BDBDBD;
        margin-bottom: 0em;
    }
    .project1__title1{
        font-weight: 700;
        font-size: 64px;
        line-height: 64px;
        color:#333333;
        margin-top: 0em;
    }
    .project1__wrap{
        display: grid;
        height: 1305px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 30px;
        margin-top: 60px;
        grid-auto-flow: row;
    }
    .project1__pic{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .project1__pic1{
        grid-column: 1/2;
        grid-row: 2/3;
        
    }
    .project1__text{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .project1__pic2{
        grid-column: 1/3;
        grid-row: 3/4;
    }
